#page01 {
    margin: 0;
    padding: 0;
    @caption-wdt: 120px;
    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #F6F7FB;
        height: 60px;
        padding: 0 20px;
        .order-steps {
            width: 400px;
        }
    }
    .main-content {
        min-width: 1200px;
        margin: 20px;
        padding-right: 30px;
        .panel {
            padding: 30px;
            overflow: hidden;
            &.content-left {
                background: @white-color;
            }
            .section {
                padding: 30px 0;
                border-top: solid 1px @split-color;
                &:first-of-type {
                    border: none;
                    padding-top: 0;
                }
                .title {
                    border-left: 4px solid @primary-color;
                    font-size: 18px;
                    padding-left: 10px;
                }
                .row {
                    display: flex;
                    margin-top: 20px;
                    > * {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .row-item {
                        margin-right: 10px;
                        &.new-line {
                            display: block;
                            // padding-left: @caption-wdt;
                            margin-top: 10px;
                        }
                        .ui-tag {
                            padding: 0;
                            margin: 0;
                        }
                    }
                    .caption,
                    .row-label {
                        width: @caption-wdt;
                        margin: 0;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                    .row-content {
                        vertical-align: top;
                        flex-grow: 1;
                        .content-item {
                            vertical-align: middle;
                            display: inline-block;
                            margin-right: 10px;
                            &.new-line {
                                display: block;
                            }
                            .row:first-of-type {
                                margin-top: 0;
                            }
                            .valume {
                                width: 100px;
                            }
                        }
                    }

                    .system-select {
                        display: inline-block;
                        width: 160px;
                    }
                    .ui-slider {
                        width: 200px;
                    }
                    &.systemDisk {
                        .valume {
                            width: 100px;
                        }
                    }

                    &.csd {
                        .row {
                            margin-top: 0;
                        }
                    }
                }
                &.section-orderInfo {
                    .server-count {
                        .content-item {
                            margin-right: 0;
                            input {
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                                width: 100px;
                                border-color: @split-color;
                            }

                            .ui-btn {
                                border-color: @split-color;
                                &.add,
                                &.sub {
                                    border-left: none;
                                    border-top-left-radius: 0;
                                    border-bottom-left-radius: 0;
                                }
                                &.add {
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                }
                            }

                            .count-word {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }

        #info-panel {
            position: sticky;
            top: 20px;
            float: right;
            padding: 0;
            width: 340px;
            font-size: 13px;
            .panel-wrapper {
                margin-left: 20px;
                background: @white-color;
                padding: 0;
                overflow: hidden;
            }
            button.next {
                width: 100%;
            }
        }
    }
}