@tag-prefix: ~"@{prefix}tag";

.@{tag-prefix} {
    &, &-circle{
        display: inline-block;
        padding: 4px 10px;
        border: @border;
        line-height: 1.6;
        border-radius: @border-radius;
        background: @white-color;
        font-size: @font-size-mini;
        vertical-align: middle;
        cursor: default;
        margin-right: 5px;
    }
    &-circle {
        padding: 4px 4px;
        border-radius: 50%;
    }
    &-primary {
        .ui-tag-color(@primary-color);
    }
    &-error {
        .ui-tag-color(@red-color);
    }
    &-blue {
        .ui-tag-color(@primary-color);
    }
    &-warn {
        .ui-tag-color(@yellow-color);
    }
    &-success {
        .ui-tag-color(@green-color);
    }
    &-info {
        .ui-tag-color(@info-color);
    }


    &-bg-primary {
        .ui-tag-bg-color(@primary-color);
    }
    &-bg-error {
        .ui-tag-bg-color(@red-color);
    }
    &-bg-blue {
        .ui-tag-bg-color(@primary-color);
    }
    &-bg-warn {
        .ui-tag-bg-color(@yellow-color);
    }
    &-bg-success {
        .ui-tag-bg-color(@green-color);
    }
    &-bg-info {
        .ui-tag-bg-color(@info-color);
    }
}